<div class="pl-5 mt-4">
<div class="row w-100">
  <div class="col-md-4">
      <!-- <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
          <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            Cheatsheet
          </h1>
        </div>
      </header> -->
      <!-- <img src="./assets/img/homeicon.png" style="width: 80px;"> -->
      <button type="button" class="btn btn-secondary mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16" >
          <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
        </svg>
      </button>
    </div>

  <div class="col-md-4">
      <div class="title">FamilyApp</div>
  </div>  
  <div class="col-md-2"></div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          Welcome, {{user.name}}
        </div>
        <div class="row w-100 ">
          <button class="btn-primary shadow-none" (click)="logoutUser()">
            Logout
          </button>

        </div>
      </div>
      <div class="col-md-6">
        <div class = "row container-center">
          <img class="onboarding-illustration" src="./assets/img/profile.svg">
        </div>
      </div>
    </div>
</div>  
</div>

<div class="row">
  <div class="col-md-2">
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Wall)">
        <h4>wall</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Budget)">
        <h4>budget</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Calendar)">
        <h4>calendar</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.ToAlbum)">
        <h4>to album</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Roles)">
        <h4>roles</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.FamilyTree)">
        <h4>family tree</h4>
      </button>
    </div>
  </div>

  <div class="col-md-9">
      <div class="card-body p-5 ">
        <h4 class="mb-4">Welcome to your FamilyApp</h4>
        <div id="content-5" class=" p-2 ">
          <p class="font-italic">
            <img class="center" src="./assets/img/family.jpg"/>
          </p>
        </div>
    </div>

    <div *ngIf="selectedContent === ContentEnum.Budget" class="card mr-5 mt-3 table-responsive">
      <div class="row w-100 p-3">

        <div class="col-md-1">
          <button [disabled]="loading" class="btn-primary shadow-none" (click)="addMoney()">Add Money</button>
        </div>
        <div class="col-md-1">
          <input type="number" class="form-control" [(ngModel)]="moneyToAdd"/>
        </div>
      </div>

      <li *ngFor="let user of users; index as i">{{user.username}}  {{user.budget}} </li>
    </div>

    <div *ngIf="selectedContent === ContentEnum.Calendar" class="card mr-5 mt-3 table-responsive">
      Calendar
    </div>

    <div *ngIf="selectedContent === ContentEnum.ToAlbum" class="card mr-5 mt-3 table-responsive">
      ToAlbum
    </div>

    <div *ngIf="selectedContent === ContentEnum.Roles" class="card mr-5 mt-3 table-responsive">
      Roles
    </div>

    <div *ngIf="selectedContent === ContentEnum.FamilyTree" class="card mr-5 mt-3 table-responsive">
      FamilyTree
    </div>

  </div>
</div>
</div>