<div class="pl-5 mt-4">
<div class="row w-100">
  <div class="col-md-4">
      <!-- <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
          <h1 class="d-flex align-items-center fs-4 text-white mb-0">
            Cheatsheet
          </h1>
        </div>
      </header> -->
      <!-- <img src="./assets/img/homeicon.png" style="width: 80px;"> -->
      <button type="button" class="btn btn-secondary mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16" >
          <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
        </svg>
      </button>
    </div>

  <div class="col-md-4">
      <div class="title">FamilyApp</div>
  </div>
  <div class="col-md-2"></div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          Welcome, {{user.name}}
        </div>
        <div class="row w-100 ">
          <button class="btn-primary shadow-none" (click)="logoutUser()">
            Logout
          </button>

        </div>
      </div>
      <div class="col-md-6">
        <div class = "row container-center">
          <img class="onboarding-illustration" src="./assets/img/profile.svg">
        </div>
      </div>
    </div>
</div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Wall)">
        <h4>wall</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Budget)">
        <h4>budget</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Calendar)">
        <h4>calendar</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.ToAlbum)">
        <h4>to album</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.Roles)">
        <h4>roles</h4>
      </button>
    </div>
    <div class="row w-100 p-3">
      <button class="btn-wall shadow-none" (click)="switchTab(ContentEnum.FamilyTree)">
        <h4>family tree</h4>
      </button>
    </div>
  </div>

  <div class="col-md-9">
    <div *ngIf="selectedContent === ContentEnum.Wall" class="card mr-5 mt-3 table-responsive">
      <div class="card-body p-5 ">
        <h4 class="mb-4">Dark thin</h4>
        <div id="content-5" class=" p-2 ">
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dolores, soluta, cupiditate. Ad ab, delectus impedit similique voluptate fuga nemo iure, nobis
            dolorem dolor, quia voluptas aperiam doloremque commodi id? In? Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dolores, soluta, cupiditate. Ad ab, delectus impedit similique voluptate fuga nemo iure, nobis
            dolorem dolor, quia voluptas aperiam doloremque commodi id? In? Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dolores, soluta, cupiditate. Ad ab, delectus impedit similique voluptate fuga nemo iure, nobis
            dolorem dolor, quia voluptas aperiam doloremque commodi id? In? Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dolores, soluta, cupiditate. Ad ab, delectus impedit similique voluptate fuga nemo iure, nobis
            dolorem dolor, quia voluptas aperiam doloremque commodi id? In? Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="selectedContent === ContentEnum.Budget" class="card mr-5 mt-3 table-responsive">
      <div class="row w-100 p-3">

        <div class="col-md-1">
          <button [disabled]="loading" class="btn-primary shadow-none" (click)="addMoney()">Add Money</button>
        </div>
        <div class="col-md-1">
          <input type="number" class="form-control" [(ngModel)]="moneyToAdd"/>
        </div>
      </div>

      <li *ngFor="let user of users; index as i">{{user.username}}  {{user.budget}} </li>
    </div>

    <div *ngIf="selectedContent === ContentEnum.Calendar" class="card mr-5 mt-3 table-responsive">
      Calendar
    </div>

    <div *ngIf="selectedContent === ContentEnum.ToAlbum" class="card mr-5 mt-3 table-responsive">
      <!-- Container for the image gallery -->
      <div class="container">
        <!-- Full-width images with number text -->
        <div class="mySlides" style="display: block;">
          <div class="numbertext">1 / 6</div>
          <img src="./assets/img/img_woods_wide.jpg" style="width:100%;">
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 6</div>
          <img src="./assets/img/img_5terre_wide.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 6</div>
          <img src="./assets/img/img_mountains_wide.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 6</div>
          <img src="./assets/img/img_lights_wide.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">5 / 6</div>
          <img src="./assets/img/img_nature_wide.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">6 / 6</div>
          <img src="./assets/img/img_snow_wide.jpg" style="width:100%">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>

        <!-- Image text -->
        <div class="caption-container">
          <p id="caption">The Woods</p>
        </div>

        <!-- Thumbnail images -->
        <div class="row">
          <div class="column2">
            <img class="demo cursor active" src="./assets/img/img_woods.jpg" style="width:100%" (click)="currentSlide(1)" id="The Woods">
          </div>
          <div class="column2">
            <img class="demo cursor" src="./assets/img/img_5terre.jpg" style="width:100%" (click)="currentSlide(2)" id="Cinque Terre">
          </div>
          <div class="column2">
            <img class="demo cursor" src="./assets/img/img_mountains.jpg" style="width:100%" (click)="currentSlide(3)" id="Mountains and fjords">
          </div>
          <div class="column2">
            <img class="demo cursor" src="./assets/img/img_lights.jpg" style="width:100%" (click)="currentSlide(4)" id="Northern Lights">
          </div>
          <div class="column2">
            <img class="demo cursor" src="./assets/img/img_nature.jpg" style="width:100%" (click)="currentSlide(5)" id="Nature and sunrise">
          </div>
          <div class="column2">
            <img class="demo cursor" src="./assets/img/img_snow.jpg" style="width:100%" (click)="currentSlide(6)" id="Snowy Mountains">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedContent === ContentEnum.Roles" class="card mr-5 mt-3 table-responsive">
      Roles
    </div>

    <div *ngIf="selectedContent === ContentEnum.FamilyTree" class="card mr-5 mt-3 table-responsive">
      FamilyTree
    </div>

  </div>

</div>
</div>
