@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
html, body{
    font-family: raleway-extrabold;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }

  h1,h2,h3,h5,h6 {
    color: #7C7C7C;
  }


  .column {
    flex: 50%
  }

  /* .container-center {
      background: aqua;
  }

  .vertical-center {
      background: red;
  } */

  .vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }

  .col-md-5 {
    align-items: center;
  }

  .col-sm-2 {
    padding: 0em;
    margin: 0em;
    align-items: flex-start;
  }


  .btn-primary {
    background-color: #22B573 !important;
    border-radius: 30px !important;
    outline: none !important;
    border-style: none !important;
    border: none !important;
    padding-top: 0.5em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: raleway-extrabold !important;
    color: white !important;
  }

  .home-button {
    background-color: none !important;
    background: none !important;
    outline: none !important;
    border-style: none !important;
    border: none !important;
    padding-right: 2em;
    padding-left: 2em;
  }

  .home-button:hover {
    background-color: none !important;
    background: none !important;
    outline: none !important;
    border-style: none !important;
    border: none !important;
    padding-right: 2em;
    padding-left: 2em;
    transform: scale(1.2);
  }

  .home-button:focus-visible, .home-button:active {
    background-color: none !important;
    background: none !important;
    outline: none !important;
    border-style: none !important;
    border: none !important;
    padding-right: 2em;
    padding-left: 2em;
    transform: scale(1.2);
  }


  .btn-primary:focus-visible {
    background-color: #1F8956 !important;
    transform: scale(0.8) !important;
  }

  .btn-primary:hover {
    background-color: #1F8956 !important;
  }

  .btn-menu {
    border-radius: 30px !important;
    outline: none !important;
    border-style: none !important;
    border: none !important;
    font-family: raleway-extrabold;
    color: #666666;
    background: none !important;
    white-space: nowrap;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 40px;
    margin-top: 40px;
    align-items: center;
  }

  .menu-row {
    height: 20%;
  }


  .full-row {
    height: 80vh;
  }

  .btn-menu:focus-visible, .btn-menu:focus {
    /* background-color: #22B573 !important; */
    border-radius: 30px !important;
    outline: none !important;
    border-style: none !important;
    border: none !important;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: raleway-extrabold !important;
    color: #22B573 !important;
  }

 .btn-menu:hover {
    transform: scale(1.2);
  }

  .link, .link:focus, link:hover, link:active {
    color: #22B573 !important;
    background: none !important;
    border: none !important;
    outline: none !important;
    font-family: raleway-extrabold;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #F2F2F2;
  }

  .flex {
    display: flex;
  }

  .input-control:not(focus) .input-control:valid, .input-control:invalid, .input-control:visited, .input-control:not(:visited) {
    background-color: #F2F2F2 !important;
    border-radius: 30px !important;
    outline: none !important;
    border-style: none;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-family: raleway-extrabold !important;
    color: #666666 !important;
  }

  input:not(:placeholder-shown) {
    background-color:  #F2F2F2!important;
  }


  input:placeholder-shown {
    background-color:  #F2F2F2!important;
  }

  .flex-vertical-centered {
    display: flex;
    align-items: left;
  }

  .app-title {
    color: #4D4D4D;
    font-size: xx-large;
    text-align: center;
    padding-top: 0em;
  }

  .title-border {
    border-bottom: 1px solid #DDDDDD;
  }

  .screen-full-height {
    height: 100vh;
  }

  .is-invalid {
    border-left: 5px solid #D9534F;
  }

  .selected-text {
    font-family: raleway-extrabold !important;
    text-align: left;
    color: #666666 !important;
  }

  .selected-text-menu {
    font-family: raleway-extrabold !important;
    text-align: left;
    color: #666666 !important;
  }


  .regular-text {
    font-family: raleway-extrabold !important;
    text-align: left;
    color: #999999 !important;
  }

  span {
    font-family: raleway-extrabold !important;
  }

  @font-face {
    font-family: raleway-black;
    src: url(assets/font/Raleway-Black.ttf) format("truetype");
  }

  @font-face {
    font-family: raleway-extrabold;
    src: url(assets/font/Raleway-ExtraBold.ttf) format("truetype");
  }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
  }
