<div class="centered-content">
    <div class="manager_container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Section
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" [routerLink]="['/dashboard']">
                    <p>Wall
                    </p>
                </a>
                <a class="list-menu-item is-active" >
                    <p>Budget
                    </p>
                </a>
                <a class="list-menu-item">
                    <p>Calendar
                    </p>
                </a>
                <a class="list-menu-item">
                    <p>Photo Album
                    </p>
                </a>
                <a class="list-menu-item">
                    <p>Roles
                    </p>
                </a>
                <a class="list-menu-item">
                    <p>Family Tree
                    </p>
                </a>
            </div>
        </div>

        <div class="main_view has-background-light">
            <h1 class="title has-text-primary">
                View
            </h1>
            <div >
                <div style="flex-direction: row;">
                    <h2 >Budget: {{budget}}</h2>
                    <h2 >Remaining Balance: {{balance}}</h2>
                </div>
                <div *ngFor="let list of listofexpenses" class="balance" >
                    <div class="list-expense">
                        <p class="list-expense-item">{{list.name}} {{list.value}} </p>
                        
                    </div>
                </div>
            </div>
            <button class="button is-primary has-text-white" (click)="createNewExpense()">New Expense</button>
        </div>
    </div>
</div>