
<div class="row w-100 p-3">
  <div class="column">
    <div class="container-center">
    <div class="title">FamilyApp</div>
    </div>
  </div>
</div>

<div class="container">
</div>
<div class="row container-center vertical-center">
 
  <div class="col-xs-10 col-sm-4 align-self-center">
    <div class="container-center">
      <div class="content">
        
        <div class = "form-group flex-vertical-centered">
          
          <div class="col">
            <div class="selected-text">
                <h4>Enter email address to recover password</h4>
            </div>
          </div>
        </div>
        
        <form id="recover" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
          <div class="form-group flex">
            <div class="col">
              <div class="selected-text">Email</div>
              <input type="text" class="form-control form-control-sm" id="inputEmail"
                formControlName="email" placeholder=""
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required!</div>
              </div>
            </div>
          </div>
          <button [disabled]="loading" class="btn-primary shadow-none">recover password</button>

          <div class="regular-text">
            <span>Go back to&nbsp;
            <a [routerLink]="['/login']" class="link">Login</a></span>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>