<div class="centered-content">
    <div class="manager_container">
        <div class="row w-100 p-3">
            <div class="column">
                <div class="container-center">
                    <div class="title">Family App</div>
                </div>
            </div>
        </div>
        
        <div class="row container-center vertical-center">
            <div class="col-md-5">
                <div class = "row onboarding-container">
                    <div class="selected-text">
                        <h4>Welcome to the nicest family app</h4>
                    </div>
                </div>
        
                <div class = "onboarding-container is-pulled-left regular-text">      
                    <div class = "onboarding-text">* Share photos and memories with your dear ones</div>
                    <div class = "onboarding-text">* Manage expenses at ease</div>
                    <div class = "onboarding-text">* Store photo albums</div>
                    <div class = "onboarding-text">* Schedule the tasks and events of your family</div>
                </div>
            
                <div class = "row is-pulled-left">
                    <img class="onboarding-illustration" alt="onboarding-illustration" src="./assets/img/onboarding_illustration.svg">
                </div>
            </div>

            <div class="col-md-5">   
                <div class = "flex-vertical-centered">
                    <div class="col">
                        <button  class="login-button">
                            <div class="selected-text">
                                <h2>Login</h2>
                            </div> 
                        </button>
                    </div>
                    
                    <div class="col">
                        <button  class="register-button" (click)="goToRegister()">
                            <div class="regular-text">
                                <h2>Register</h2>
                            </div> 
                        </button>
                    </div>
                </div>
                
                <form id="login">
                    <!-- Username -->
                    <div class="selected-text">Email</div>
                    <div class="col">
                        <input #email type="email" class="input-control"
                        placeholder="" id="email"
                        />`
                    </div>
        
                    <!-- Password -->
                    <div class="selected-text">Password</div>
                    <div class="col">
                        <input #pass type="password" class="input-control"
                        placeholder="" id="password"
                        />
                    </div>
        
                    <button class="btn-primary shadow-none" (click)="logIn(email.value, pass.value, $event)" >login</button>
                    <div class="regular-text">
                    <span class="regular-text">Forgot your password? Recover it&nbsp;
                        <button  class="link" (click)="goToRecoverPassword()">
                           here
                        </button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
